<form action="https://docs.google.com/forms/d/e/1FAIpQLSeT5TvvOUmxglDvnh24tytPpZcTe1fCGmjY_SeCwYrp0jRngA/formResponse" method="post">
    <label>Name*</label>
    <input type="text" placeholder="Name*" name="entry.1263169523" required>

    <label>Email Address*</label>
    <input type="email" placeholder="Email address*" name="entry.1271676687" required>
  
    <label>Degree</label>
    <input type="text" placeholder="Degree" name="entry.1787611927">
  
    <label>Job Title</label>
    <input type = "text" placeholder="Job Title*" name="entry.1625367499" required>
   
    <label>Affiliation</label>
    <input type="text" placeholder="Affiliation" name="entry.1226064073" required>


    <label>City</label>
    <input type="text" placeholder="City" name="entry.787129299">

    <label>Country</label>
    <input type="text" placeholder="Country" name="entry.1393595139">


    <button type="submit">Send</button>
</form>

