<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" 
onload="if(submitted) {window.location='thankyou.html';}"></iframe>
<br><br><br>
<h2 class = "reg-title", style="text-align:center">Registration </h2>
  
<form action="https://docs.google.com/forms/d/e/1FAIpQLSeT5TvvOUmxglDvnh24tytPpZcTe1fCGmjY_SeCwYrp0jRngA/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
    
    <input class="w3-input" type="text" name="entry.1263169523" required>
    <label>Name*</label>
    <br><br>

    
    <input class="w3-input" type="email" name="entry.1271676687" required>
    <label>Email Address*</label>
    <br><br>

    
    <input class="w3-input" type="text" name="entry.1787611927">
    <label>Degree</label>
    <br><br>

    
    <input class="w3-input" type = "text" name="entry.1625367499" required>
    <label>Job Title*</label>
    <br><br>

    
    <input class="w3-input" type="text" name="entry.1226064073" required>
    <label>Affiliation*</label>
    <br><br>

    
    <input class="w3-input" type="text" name="entry.787129299">
    <label>City</label>
    <br><br>

    
    <input class="w3-input" type="text" name="entry.1393595139" required>
    <label>Country*</label>
    <br><br><br>
    
    <button class="w3-button w3-block w3-grey" type="submit">Submit</button>
    <br><br>
    

</form>

