<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" 
onload="if(submitted) {window.location='thankyou.html';}"></iframe>
<br><br><br>
<h2 class = "reg-title">Registration </h2>
  
<form class = "gform" action="https://docs.google.com/forms/d/e/1FAIpQLSeT5TvvOUmxglDvnh24tytPpZcTe1fCGmjY_SeCwYrp0jRngA/formResponse" method="post" target="hidden_iframe" onsubmit= "submitted=true;" >
    

 <br>
    <input type="checkbox" id="i10" name="entry.1184620756" value="ARCHS4">
    <label for="i10"> [4/25] ARCHS4 by Alexander Lachmann, PhD</label><br><br>

    <input type="checkbox" id="i13" name="entry.1184620756" value="Enrichr">
    <label for="i13"> [5/2] Enrichr and Enrichr-KG by Sherry Xie and John Erol Evangelista</label><br><br>

    <input type="checkbox" id="i16" name="entry.1184620756" value="Appyters">
    <label for="i16"> [5/9] Appyters by Daniel Clarke</label><br><br>
    <input type="checkbox" id="i19" name="entry.1184620756" value="lncHUB2">
    <label for="i19"> [5/16] lncHUB2 by Giacomo Marino</label><br><br>
    <input type="checkbox" id="i22" name="entry.1184620756" value="GeneRanger">
    <label for="i22"> [5/23] GeneRanger and TargetRanger by Nasheath Ahmed</label><br><br>
    <input type="checkbox" id="i25" name="entry.1184620756" value="Geneshot">
    <label for="i25"> [5/30] Geneshot by Alexander Lachmann, PhD</label><br><br>
    <input type="checkbox" id="i28" name="entry.1184620756" value="KEA3">
    <label for="i28"> [6/6] KEA3 by Giacomo Marino</label><br><br>
    <input type="checkbox" id="i31" name="entry.1184620756" value="Harmonizome">
    <label for="i31"> [6/13] Harmonizome by Ido Diamant</label><br><br>

    <input class="w3-input" type="text" name="entry.1263169523" required>
    <label>Name*</label>
    <br><br>

    
    <input class="w3-input" type="email" name="entry.1271676687" required>
    <label>Email Address*</label>
    <br><br>

    
    <input class="w3-input" type="text" name="entry.1787611927">
    <label>Degree</label>
    <br><br>

    
    <input class="w3-input" type = "text" name="entry.1625367499" required>
    <label>Job Title*</label>
    <br><br>

    
    <input class="w3-input" type="text" name="entry.1226064073" required>
    <label>Affiliation*</label>
    <br><br>

    
    <input class="w3-input" type="text" name="entry.787129299">
    <label>City</label>
    <br><br>

    
    <input class="w3-input" type="text" name="entry.1393595139" required>
    <label>Country*</label>
    <br><br><br>
    
    <button class="w3-button w3-block w3-grey" type="submit">Submit</button>
    <br><br>
    

</form>

